---
import Section from "../ui/Section.astro";
import MyProjects from "./MyProjects/MyProjects.astro";
---

<Section id="projects" title="Here's What I Can Share">
  <div class="space-y-24" aria-label="Featured Projects">

    <MyProjects />
  </div>
</Section>